#header .header-listing {
  z-index: 999;
  width: 100%;
  left: 0;
  padding: 20px 0 18px;
  -webkit-transition: background-color 0.3s 0s, top 0.3s 0s;
  transition: background-color 0.3s 0s, top 0.3s 0s;
}
#header .header-listing.fixed-header {
  position: fixed;
}
#header .header-inner-content {
  display: flex;
  align-items: center;
}
@media (max-width: 1024px) {
  #header .header-inner-content {
    position: relative;
    justify-content: space-between;
  }
}
#header .header-inner-content .listing-service-right .listing-menu {
  display: flex;
  list-style: none;
  color: #fff;
  margin-bottom: 0;
}
#header .header-inner-content .listing-service-right .listing-menu .sub-menu {
  visibility: hidden;
  padding: 0;
  cursor: pointer;
}
#header .header-inner-content .listing-service-right .listing-menu .menu-item {
  margin-right: 37px;
  font-size: 13px;
  cursor: pointer;
}
#header .header-inner-content .listing-service-right .listing-menu .menu-item a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}
#header .header-inner-content .listing-service-right .listing-menu > li.menu-item-has-children:after {
  display: none;
}
#header .header-inner-content .listing-service-right .listing-menu .menu-item-has-children {
  position: relative;
}
#header .header-inner-content .listing-service-right .listing-menu .menu-item-has-children:after {
  position: absolute;
  display: block;
  font-family: "Font Awesome 6 Free";
  font-weight: 600;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, -50%);
  top: 50%;
  right: 20px;
  font-size: 14px;
  content: "\f105";
  color: #333;
}
#header .header-inner-content .listing-service-right .listing-menu .menu-item-has-children:hover > .sub-menu {
  visibility: visible;
}
#header .header-inner-content .listing-service-right .listing-menu .menu-item-has-children .sub-menu {
  visibility: hidden;
  position: absolute;
  width: 250px;
  top: 100%;
  left: 0;
  background-color: #fff;
  z-index: 999;
  list-style: none;
}
#header .header-inner-content .listing-service-right .listing-menu .menu-item-has-children .sub-menu .menu-item a {
  color: #333;
  font-size: 13px;
  font-weight: 400;
  text-transform: capitalize;
}
#header .header-inner-content .listing-service-right .listing-menu .menu-item-has-children .sub-menu li {
  padding: 12px 30px 12px 34px;
  margin-right: 0;
}
#header .header-inner-content .listing-service-right .listing-menu .menu-item-has-children .sub-menu li:hover {
  transition: 0.15s all ease;
}
#header .header-inner-content .listing-service-right .listing-menu .menu-item-has-children .sub-menu .menu-item-has-children {
  position: relative;
}
#header .header-inner-content .listing-service-right .listing-menu .menu-item-has-children .sub-menu .menu-item-has-children:hover > .sub-menu {
  visibility: visible;
  top: 0;
  left: 100%;
  transition: 0.2s all;
}
#header .header-inner-content .listing-service-right .listing-menu .menu-item-has-children .sub-menu .menu-item-has-children .sub-menu {
  visibility: hidden;
  top: 0;
  left: 105%;
  background-color: #fff;
  z-index: 999;
}
@media (max-width: 1024px) {
  #header .listing-menu-mobile-wrapper {
    overflow: hidden;
  }
  #header .listing-menu-mobile-wrapper .stm-menu-trigger {
    width: 30px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  #header .listing-menu-mobile-wrapper .stm-menu-trigger span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #333;
    transition: transform 0.3s ease-in-out;
  }
  #header .listing-menu-mobile-wrapper .stm-menu-trigger.active span:nth-child(1) {
    transform: translateY(10.5px) rotate(45deg);
  }
  #header .listing-menu-mobile-wrapper .stm-menu-trigger.active span:nth-child(2) {
    opacity: 0;
  }
  #header .listing-menu-mobile-wrapper .stm-menu-trigger.active span:nth-child(3) {
    transform: translateY(-10.5px) rotate(-45deg);
  }
  #header .listing-menu-mobile-wrapper .stm-opened-menu-listing {
    visibility: hidden;
    position: fixed;
    right: -100%;
    background-color: #fff;
    width: 279px;
    box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s all;
    margin-top: 20px;
    height: 100%;
  }
  #header .listing-menu-mobile-wrapper .stm-opened-menu-listing.active {
    visibility: visible;
    right: 0;
  }
  #header .listing-menu-mobile-wrapper .listing-menu-mobile {
    padding: 0;
    overflow-y: scroll;
  }
  #header .listing-menu-mobile-wrapper .listing-menu-mobile li {
    list-style: none;
    width: 100%;
  }
  #header .listing-menu-mobile-wrapper .listing-menu-mobile li a {
    display: block;
    color: #333;
    padding: 15px 25px 15px 36px;
    position: relative;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-decoration: none;
  }
  #header .listing-menu-mobile-wrapper .listing-menu-mobile .sub-menu {
    display: none;
    padding: 0;
    background-color: #e3e3e3;
  }
  #header .listing-menu-mobile-wrapper .listing-menu-mobile .sub-menu li a {
    padding: 15px 25px 15px 56px;
    font-size: 16px;
    font-weight: 500;
  }
  #header .listing-menu-mobile-wrapper .listing-menu-mobile .sub-menu li > ul.sub-menu li {
    padding: 10px 0;
  }
  #header .listing-menu-mobile-wrapper .listing-menu-mobile .sub-menu li .icon-toggle {
    display: none;
  }
  #header .listing-menu-mobile-wrapper .listing-menu-mobile .sub-menu.active {
    display: block;
  }
  #header .listing-menu-mobile-wrapper .listing-menu-mobile .icon-toggle {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    font-weight: 900;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  #header .listing-menu-mobile-wrapper .listing-menu-mobile .icon-toggle.active {
    transform: translateY(-50%) rotate(45deg);
  }
  #header .listing-menu-mobile-wrapper .listing-menu-mobile .menu-item-has-children {
    position: relative;
  }
}